.inputform {
  margin-top: 150px;
}

.input {
  margin: 30px;
  color: white;
  font-size: 22px;
}

input {
  border-radius: 15px;
  height: 30px;
}

.inputbutton {
  height: 30px;
  margin-left: 100px;
  border-radius: 15px;
}
